@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin|Pacifico');

/* == CSS reset == */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, em, img, ins, kbd, q, s, strong, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
article, aside, canvas, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: #000000;
  vertical-align: baseline;
}

/* == styling == */

body {
  background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
}

h1 {
  font-size: 3em;
}

p, a, ul, li {
  font-family: 'Libre Baskerville', serif;
}

ul {
  list-style: none;
}

section {
  width: 90%;
  margin: 0 auto;
}

.links {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.links li {
  padding: .5em;
}

.hello {
  width: 50%;
}

h2 {
  font-size: 1.75em;
  font-family: 'Pacifico', cursive;
}

h3 {
  font-size: 1.5em;
  border-bottom: solid 2px black;
}

.projects a {
  padding-right: 1.5em;
}
