@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin');

/* == CSS reset == */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, em, img, ins, kbd, q, s, strong, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
article, aside, canvas, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: #000000;
  vertical-align: baseline;
}

/* == styling == */

body {
  background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
}

p, a, ul, li {
  font-family: 'Libre Baskerville', serif; 
}

.intro {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.hello {
  width: 40%;
  margin: 0 auto;
  border: double black;
  border-radius: 15px;
  height: 12em;
}

h2 {
  font-family: 'Pacifico', cursive;
}
